.row1{
	display: flex;
	justify-content: center;
	text-align: center;
   flex-flow: row wrap;
}

.row2{
	display: flex;
	justify-content: center;
	text-align: center;
   flex-flow: row wrap;
}

.obj1, .obj2, .obj4, .obj5{
  border: 2px solid #000;
  width: 200px;
  height: 225px;
  display: block;
  margin: 10px;

}
 #timer{
 	text-align: right;
 }


h1{
	background-color: lightgray;
    border: 1px solid #89818A;
    height: 110px;
    text-align: center;

}





.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {
  background: red;
}
#card .back {
  background: blue;
  transform: rotateY( 180deg );
}

#card { 
	transform-origin: right center; 
}

#card .flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}